p{
    color: rgb(24, 18, 18);
    font-size: 20px;
    
}
.conan{
    background-color:rgb(73, 120, 207);
}
a.ellalinks{
    padding: 0px 10px;
    margin: 0px 0px 0px 10px;
    border-radius: 40px;
    color:rgb(44, 82, 187);
}
a.ellalinks:hover{
    background-color: cornflowerblue;
    color:lightskyblue;
}
div.elladivgrey{
    background-color: aliceblue;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid blanchedalmond;
}
h4.ellasmallh4{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p.ellasmallp{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: -5px;
    padding: -5px;
    margin-bottom: -1px;
}
.ellacrop{
    height:200px;
    overflow: hidden;
    object-fit: cover;
    border: 5px;
}
.ellacallmebg{
    background-image: url(../assets/img/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.photobg{
    background-image: url(../assets/img/photopg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
p.ellafirstpg{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: -5px;
    padding: -5px;
    margin-bottom: -1px;
}
h3.ellasmallh3{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aliceblue;
    background-size: auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid blanchedalmond;
   
}
.ellapg{
   background-image: url(../assets/img/封面照.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}
.firstbgcolor{
    background-color: rgb(180, 219, 247);
}
.ellahl{
color:rgb(231, 146, 133);
font-weight: 500;
}
.iansui-regular {
  font-family: "Iansui", cursive;
  font-weight: 400;
  font-style: normal;
}
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
.playball-regular {
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
}
.boogaloo-regular {
  font-family: "Boogaloo", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.potta-regular{
  font-family: "Potta One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.cmiltonian-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}
.rubik-dirt-regular {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
}
.fascinate-inline-regular {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}
.miltonian-regular {
  font-family: "Miltonian", serif;
  font-weight: 400;
  font-style: normal;
}
.ellabg{
    background-image: url(../assets/img/ellabg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h3.ellah3{
    font-size: 50px;
    font-weight: 500;
}
h2.ellah2{
    font-size: 80px;
    font-weight: 800;
}
.list-group-item.active {
    z-index: 2;
    color: var(--bs-list-group-active-color);
    background-color: #99CCFF;
    border-color: #99CCFF;
}
.card-textlow{
  text-align:justify;
   font-size:medium;
   color:rgb(118, 110, 110) ;
}
.linkcolor{
  color: #17538f;
}
.ellatop{
  text-align: center;
  line-height: 2.5;
  font-size: 1rem;
  background-color: #17538f;
}
.styled {
    position: fixed;
    bottom: 10px;  
    right: 10px;  
    width: 10px;
    height: 10px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 999;
}