p{
    color: rgb(234,152,145);
}
.conan{
    background-color:rgb(73, 120, 207);
}
a.ellalinks{
    padding: 0px 10px;
    margin: 0px 0px 0px 10px;
    border-radius: 40px;
    color:cadetblue;
}
a.ellalinks:hover{
    background-color: cornflowerblue;
    color:lightskyblue;
}
div.elladivgrey{
    background-color: aliceblue;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid blanchedalmond;
}
h4.ellasmallh4{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p.ellasmallp{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: -5px;
    padding: -5px;
    margin-bottom: -1px;
}
ellacrop{
    height:200px;
    overflow: hidden;
    object-fit: cover;
    border: 5px;
}
.ellacallmebg{
    background-image: url(../assets/img/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}